@model List<Kiralama>


@if (TempData["basarili"] != null)
{
    <div class="alert alert-info" role="alert">
        <strong>@TempData["basarili"]</strong>
    </div>
}

<div class="container">


    <div class="row pt-3 pb-4">
        <div>
            <h1 style="text-align:center">Aktif Kiralamalar</h1>
        </div>
    </div>



    <table class="table table-bordered" style="border-radius:50px;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Örenci No</th>
                <th scope="col">Kiralama Başlangıç Tarihi</th>
                <th scope="col">Kiralama Bitiş Tarihi</th>
                <th scope="col">KitapId</th>

            

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.OgrenciId</td>
                    <td>@item.BaslangicTarihi</td>
                    <td>@item.BitisTarihi</td>
                    <td>@item.Kitap.KitapAdi</td>
                    <th scope="col">

                        <a asp-controller="Kiralama" asp-action="EkleGuncelle" asp-route-id="@item.Id" class="btn btn-primary" type="button" style="width:250px">Güncelle</a>
                        <a asp-controller="Kiralama" asp-action="Sil" class="btn btn-danger" asp-route-id="@item.Id" type="button" style="width:250px">Sil</a>

                    </th>


                

                </tr>
            }

        </tbody>
    </table>

    <a asp-controller="Kiralama" asp-action="EkleGuncelle" class="btn btn-success btn-lg btn-block" type="button">Yeni Kiralama Kaydı Oluştur</a>

</div>

